{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card shadow-lg p-4 mb-5 bg-white rounded">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form|crispy}}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-block btn-outline-info" type="submit">Request Password Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}