{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% include "partials/_profile.html" %}
    <div class="row card shadow-lg p-4 mb-5 bg-white rounded">
        <div class="col">
            <div class="">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form|crispy}}
                        {{ p_form|crispy}}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-block btn-outline-info" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}